{% extends 'hr_nav.html' %}
{% block body %}
{% load static %}

{% if error %}
<script>
    alert('Assigned Status successfully');
    window.location=('{% url 'view_doctor' %}');
</script>
{% endif %}


<div class="container-fluid" style="width:70%;margin-top:5%;">

      <h2 class="text-center" style="font-family : 'Monotype Corsiva' ; color : #E6120E ;">Assign Status</h2><hr>

      <form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlSelect1">Doctor Id</label>
    <input type="text" class="form-control" name="id" value="{{data.id}}" id="exampleFormControlSelect1" readonly>
  </div>

          <div class="form-group">
    <label for="exampleFormControlSelect1">Assign Status</label>
    <select class="form-control" id="exampleFormControlSelect1" name="status">
        {% for i in status %}
      <option value="{{i.status}}">{{i.status}}</option>
        {% endfor %}
    </select>
  </div>
  <center><button type="submit" class="btn btn-danger" style="margin-top:3%">SUBMIT</button>
</center>
      </form>
    </div>


{% endblock %}